@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-family: $primary-font-family;

  .member__avatar {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    background-color: $light-dark-grey;
  }

  h2 {
    color: $font-orange;
    margin: 1rem 0 0.5rem 0;
  }

  h3 {
    font-size: 1.7rem;
    color: $team-section-font-color;
    font-weight: 400;
  }
  p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
  }
}

@include desktop-only {
  .member {
    padding: 0;
    margin-right: 1rem;

    &:last-child {
      margin: 0;
    }

    .member__avatar {
      width: 6rem;
      height: 6rem;
    }

    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.5rem;
      color: $font-orange;
    }
    p {
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }
}
