$font-orange: #ff8322;
$font-light-grey: #dfd7d5;

$dark-gray: #362f2d;
$light-dark-grey: #504744;

$team-section-background: #eff0ef;
$team-section-font-color: #b4b4b2;

$primary-font-family: "Lato";
$secondary-font-family: "Montserrat";
